@import 'includes';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--pico-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--pico-primary);
}

%align-items {
    display: flex;
    align-items: center;
}

.center-elements {
    @extend %align-items;
    justify-content: center;
}

.error {
    &-input {
        border-color: var(--pico-del-color);
    }

    &-text {
        color: var(--pico-del-color);
    }
}

.success {
    &-input {
        border-color: var(--pico-ins-color);
    }

    &-text {
        color: var(--pico-ins-color);
    }
}

.text-center {
    text-align: center;
}

.align-elements {
    @extend %align-items;
}

.space-between {
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

html,
body {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    button,
    a {
        -webkit-app-region: no-drag;
        cursor: pointer;
    }

    border-radius: 5px;

    #app {
        &:not([vanished]) {
            background-color: var(--pico-background-color);
        }

        font-family: 'Ubuntu', sans-serif;
        height: 100%;

        #version-check {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .spinner {
                display: flex;
                justify-content: center;
            }

            #message {
                width: 80%;
                text-align: center;
            }
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            -webkit-app-region: drag;
            background-color: var(--pico-secondary-background);

            #app-menu {
                margin: 0;
                width: 10%;
                -webkit-app-region: no-drag;

                summary {
                    padding: 0;
                    height: inherit;
                    border-radius: 0%;
                    border: none;
                    display: flex;
                    justify-content: center;

                    &::after {
                        content: none;
                    }
                }

                ul[role='listbox'] {
                    right: inherit;

                    #vanish {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        a {
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            #menu-buttons {
                display: flex;
                align-items: center;

                button {
                    margin-bottom: 0;
                    padding: 0 15px 0 15px;
                    border-radius: 0%;
                    border: none;

                    &#close {
                        &:hover {
                            background-color: var(--pico-del-color);
                        }
                    }
                }
            }
        }

        main {
            height: 100%;
            padding: 0%;

            #webview-tag {
                height: 97%;
                display: flex;
                align-items: center;
            }

            #start {
                height: 100%;

                #channel,
                #external-source {
                    margin-top: 10px;
                    margin-bottom: 0;
                    width: 80%;
                }

                #info {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                button {
                    width: 40%;
                }

                .source-loader-info {
                    margin-top: 10px;
                    color: var(--pico-primary);
                    cursor: pointer;

                    &:hover {
                        color: var(--pico-primary-hover);
                        text-decoration: underline;
                    }
                }
            }

            #changelog {
                height: 100%;
                overflow-y: auto;
                padding-top: 10px;
            }

            #settings {
                display: flex;
                justify-content: center;
                height: 100%;
                padding-top: 20px;
                padding-bottom: 20px;

                #content {
                    display: flex;
                    // align-items: center;

                    aside {
                        width: 30%;

                        ul {
                            font-weight: 300;
                            text-transform: uppercase;

                            a[active] {
                                color: var(--pico-primary);
                            }
                        }
                    }

                    #external-sources {
                        &-list {
                            margin-top: 15px;
                        }

                        button {
                            text-align: center;
                            padding: 5px 15px;
                            font-size: 10pt;
                            color: var(--pico-del-color);
                            border: var(--pico-border-width) solid var(--pico-del-color);

                            &:hover {
                                color: var(--pico-del-color-hover);
                                border-color: var(--pico-del-color-hover);
                            }
                        }
                    }

                    div {
                        width: inherit;

                        article {
                            &.scroll-content {
                                height: 95%;
                                overflow-y: auto;
                            }

                            margin: 0;

                            input {
                                margin-bottom: 0;
                            }

                            hr {
                                margin-top: 18px;
                                margin-bottom: 18px;
                            }

                            small {
                                font-size: 0.725em;

                                &.info {
                                    color: var(--pico-primary-hover);
                                }
                            }

                            .cm-editor {
                                font-size: 12pt;
                            }

                            #fade {
                                margin-bottom: 18px;

                                .control {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 5px;

                                    label {
                                        margin-bottom: 0;
                                    }

                                    #fade-timeout {
                                        width: 50%;
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            #button-area {
                                display: flex;
                                justify-content: center;

                                button {
                                    margin-top: 10px;
                                    width: 50%;
                                }

                                #save {
                                    #text {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
