@import 'includes';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

%align-items {
	display: flex;
	align-items: center;
}

.center-elements {
	@extend %align-items;
	justify-content: center;
	
}

.align-elements {
	@extend %align-items;
}

:root {
	--primary: hsl(264, 80%, 54%);
	--primary-hover: hsl(264, 80%, 60%);
}

html,
body {
	background-color: rgba(0,0,0,0);
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	button, a {
		-webkit-app-region: no-drag;
		cursor: pointer;
	}

	#app {

		&:not([vanished]) {
			background-color: var(--background-color);
		}

		font-family: 'Ubuntu', sans-serif;
		border-radius: 10px;
		height: 100%;

			height: 100%;

		#version-check {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.spinner {
				display: flex;
				justify-content: center;
			}
		}

		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			-webkit-app-region: drag;
			border-bottom: 1px solid var(--secondary);
			background-color: var(--secondary);

			#app-menu {
				margin: 0;
				width: 10%;
				-webkit-app-region: no-drag;

				summary {
					padding: 0;
					height: inherit;
					border-radius: 0%;
					border: none;
					display: flex;
					justify-content: center;

					&::after {
						content: none;
					}
				}

				ul[role=listbox] {
					right: inherit;

					#vanish {
						display: flex;
						justify-content: space-between;
						width: 100%;

						a {
							span {
								margin-left: 10px;
							}
						}
					}
				}
			}

			#menu-buttons {
				display: flex;
				align-items: center;

				button {
					margin-bottom: 0;
					padding: 0 15px 0 15px;
					border-radius: 0%;
					border: none;

					&#close {
						&:hover {
							background-color: var(--del-color);
						}
					}
				}
			}

		}

		main {
			height: 100%;

			#webview-tag {
				height: 95%;
			}

			#main {
				position: relative;
				top: 25%;

				#channel {
					margin-top: 10px;
					margin-bottom: 0;
					width: 50%;
				}

				#info {
					margin-top: 5px;
					margin-bottom: 10px;
				}

				button {
					width: 40%;
				}
			}

			#settings {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				#content {
					display: flex;
					align-items: center;
					height: 80%;

					aside {
						width: 30%;
						margin-right: 3px;

						ul {
							font-weight: 300;
							text-transform: uppercase;

							a[active] {
								color: var(--primary);
							}
						}
					}

					div[role=document] {
						height: 100%;
						width: 100%;
						overflow-y: auto;
						
						article {
							margin: 0;
							
							input {
								margin-bottom: 0;
							}

							hr {
								margin-top: 18px;
								margin-bottom: 18px;
							}

							small {
								font-size: 0.725em;
							}

							#fade {
								margin-bottom: 18px;
								.control {
									display: flex;
									align-items: center;
									justify-content: space-between;
									margin-bottom: 5px;

									label {
										margin-bottom: 0;
									}

									#fade-timeout {
										width: 50%;
										margin-bottom: 0;
									}
								}
							}

							#button-area {
								display: flex;
								justify-content: center;

								button {
									margin-top: 10px;
									width: 50%;
								}
							}
						}
					}
				}
			}
		}
	}
}
