@import 'includes';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

html,
body {
	background: rgba(0, 0, 0, 0);
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	button, a {
		-webkit-app-region: no-drag;
	}

	#app {
		font-family: 'Ubuntu', sans-serif;
		border-radius: 10px;
		height: 100%;

		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			-webkit-app-region: drag;
			border-bottom: 1px solid var(--secondary);
			height: 40px;
			background-color: var(--secondary);

			#app-info {
				margin: 0;
				width: 10%;
				-webkit-app-region: no-drag;

				summary {
					padding: 8px;
					height: inherit;
					border-radius: 0%;
					border: none;
					display: flex;
					justify-content: center;

					&::after {
						content: none;
					}
				}

				ul[role=listbox] {
					right: inherit;

					#vanish {
						display: flex;
						justify-content: space-between;
						width: 100%;

						a {
							span {
								margin-left: 10px;
							}
						}
					}
				}
			}

			#menu-buttons {
				// width: 40%;
				display: flex;
				align-items: center;

				button {
					margin-bottom: 0;
					padding: 8px 15px 8px 15px;
					border-radius: 0%;
					border: none;

					&#close {
						&:hover {
							background-color: var(--del-color);
						}
					}
				}
			}

		}

		main {
			height: 100%;

			#webview-tag {
				height: 95%;
			}

			#main {
				position: relative;
				top: 25%;

				#channel {
					margin-top: 10px;
					width: 60%;
				}

				button {
					width: 70%;
				}
			}
		}


		#version {
			font-size: 8pt;
			font-weight: 400;
			margin-right: 10px;

			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
