@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root  {
        /* --background: hsl(264 100% 95%); */
        --background: hsl(0, 0%, 100%);
        --foreground: hsl(264 5% 0%);
        --card: hsl(264 50% 90%);
        --card-foreground: hsl(264 5% 10%);
        --popover: hsl(0, 0%, 95%);
        --popover-foreground: hsl(0, 0%, 0%);
        --primary: hsl(264 80.3% 54.1%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(264 30% 70%);
        --secondary-foreground: hsl(0 0% 0%);
        --muted: hsl(226 30% 85%);
        --muted-foreground: hsl(264 5% 35%);
        --accent: hsl(226 30% 80%);
        --accent-foreground: hsl(264 5% 10%);
        --destructive: hsl(0 100% 30%);
        --destructive-foreground: hsl(264 5% 90%);
        --border: hsl(264 30% 50%);
        --input: hsl(264 30% 18%);
        --ring: hsl(264 80.3% 54.1%);
        --radius: 0.3rem;
    }

    .dark  {
        --background: hsl(264 50% 5%);
        --foreground: hsl(264 5% 90%);
        --card: hsl(264 50% 0%);
        --card-foreground: hsl(264 5% 90%);
        --popover: hsl(264 50% 5%);
        --popover-foreground: hsl(264 5% 90%);
        --primary: hsl(264 80.3% 54.1%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(264 30% 10%);
        --secondary-foreground: hsl(0 0% 100%);
        --muted: hsl(226 30% 15%);
        --muted-foreground: hsl(264 5% 60%);
        --accent: hsl(226 30% 15%);
        --accent-foreground: hsl(264 5% 90%);
        --destructive: hsl(0 100% 30%);
        --destructive-foreground: hsl(264 5% 90%);
        --border: hsl(264 30% 18%);
        --input: hsl(264 30% 18%);
        --ring: hsl(264 80.3% 54.1%);
        --radius: 0.3rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    
    body {
        @apply bg-background text-foreground;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

html,
body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    button,
    a {
        -webkit-app-region: no-drag;
    }
    
    header {
        -webkit-app-region: drag;
    }
    
    #app {
        &:not([vanished]) {
            background-color: var(--background);
        }
        
        font-family: 'Ubuntu', sans-serif;
    }

    #changelog {
        hr {
            margin: 1rem 0;
            border-color: var(--muted);
        }

        h2 {
            margin: 1rem 0;
            font-size: 1.5rem;
        }

        h3 {
            margin: 0.5rem 0;
            font-size: 1.25rem;
        }

        p[align="center"] {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }

        ul {
            padding-left: 1rem;

            li {
                margin: 0.5rem 0;

                a {
                    color: var(--primary);
                }
            }
        }
    }
}
