html,
body {
  height: 100%;
}
body {
  background: rgba(0, 0, 0, 0);
  color: white;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  #app {
    height: 100%;
    &.showBorder {
      -webkit-app-region: drag;
      background: rgb(92, 39, 157);
      border: 1px solid rgb(92, 39, 157);
      border-radius: 10px;
    }
  }
}
