@import 'tailwind.scss';

html,
body {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  overflow: hidden;
}

body {
  #app {
    .background-filled {
      height: 100%;
      border-radius: 10px;
    }

    #submit-button,
    #cancel-button {
      background-color: #6e479d;

      &:hover {
        cursor: pointer;
        background-color: #563879;
      }
    }

    .custom-link {
      text-decoration: none;
      color: #8d41e6;

      &:hover {
        cursor: pointer;
        color: #6e479d;
      }
    }

    #messages {
      .emotes {
        max-height: 28px;
        max-width: 28px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
